.hero {
  height: 200px;
}

.hero-body {
  padding-bottom: 20px;
  padding-top: 20px;
}

.is-outlined {
  background-color:transparent;
  color:#fff;
}
.hero-cta {
  padding: 30px 0;
}

.panel-block {
  background-color: #fff;
}

.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color:#95A5A6;
}
.section.main {
  background-color:#F9F6F2;
  padding-top: 0px;
}
.icon-block {
  font-size:5em;
}